body{
    font-family: 'Dancing Script', cursive;
    font-size: 15px;
}
nav {
    background-color: #284554;
    height: 36px;
}
nav > ul {
    margin: 0;
    padding: 0;
}
nav > ul > li {
    text-transform: uppercase;
    /*text-transform: lowercase;*/
    /*text-transform: capitalize;*/
    display: inline;
    float: left;
    padding: 7px 5px 7px 5px;
}
nav > ul > li:hover {
    background-color:#ff0a0a;
}
nav > ul > li.active {
    background-color:#ff0a0a;
}
nav > ul > li.active > a {
    color: #ffffff;
}
nav > ul > li > a {
    color: #ffffff;
    text-decoration: none;
     list-style:none;
    padding: 15px 20px;
}
nav > ul > li > a:hover{
    color: #000000;
}

/*------ submeniu -----------*/
 ul.submeniu {
    text-transform: uppercase;
    display: none;
    list-style:none;
    margin: 0;
    padding: 0;
}
nav > ul > li:hover >ul.submeniu {
    display: block;
    background-color: #284554;
    clear: both;
    margin-top: 7px;
    position: absolute;
    width: 160px;
}
ul.submeniu > li > a {
    padding: 15px 20px;
    text-decoration: none;
 }
ul.submeniu > li:hover {
    background-color:#ff0a0a;
    color: #ffffff;
}
nav > ul > li:hover >ul.submeniu > li {
    padding: 7px 5px 7px 5px;

  }
nav > ul > li:hover >ul.submeniu > li >a {
    padding: 7px 5px 7px 5px;
    text-decoration: none;
    color: #ffffff;
}
ul.submeniu > li > a{
    padding: 7px 5px 7px 5px;
    text-decoration: none;
}
