table {
    font-family: verdana;
    font-size: smaller;
    width: max-content;
    border-collapse: collapse;
    border: 2px solid #000;
  }
  table caption {
    border: 0;
    padding: 10px;
    font-family: sans-serif;
    font-size: 0.8rem;
  }
  table thead th {
    border: 0;
    font-size: 12px;
    padding: 0.64em 0;
    background: #000;
    color: #fff;
  }
  table tbody {
    font-size: 0.8em;
    color: #5d625b;
    border: 0;
  }
  table tbody tr {
    border: 1px solid #919191;
  }
  table tbody tr td {
    border: 0;
    padding: 0.5em;
    border-right: 1px dashed #f1f1f1;
  }
  
  table tbody tr td details {
      display: inline-block;
      vertical-align: text-top;
  }
  
  table tbody tr td:nth-child(2) {
    user-select: text;
    font-size: 1.4em;
    color: #000;
  }
  
  span>table+table{margin-top:.5em}
  span>table+table th{
      background: #e7e7e7;
      color: #323232;
  }
  
  
  .grid {
    display: grid;
    grid-template-columns: repeat(22, max-content);
    grid-template-rows: 1fr;
    grid-gap: 0.5em;
    user-select: none;
  }
  
  .grid table tbody tr td:nth-child(3) {
    color: #9d6262;
  }
  .grid table tbody tr td:nth-child(3):before {
    content: "&"; /*&amp;*/
  }
  .grid table tbody tr td:nth-child(3):after {
    content: ";";
  }
  .grid table tbody tr td:nth-child(3):after,
  .grid table tbody tr td:nth-child(3):before {
    display: inline;
    color: #ffffff;
  }
  .grid table tbody tr td:nth-child(3):hover:after,
  .grid table tbody tr td:nth-child(3):hover:before {
    color: #9d6262;
  }
  .grid table tbody tr td:nth-child(4) {
    padding: 0 0.4em 0 0.5em;
    color: #07264c;
  }
  
  .grid table tbody tr td:nth-child(4) figure {
    display: inline-block;
    width: 1.4em;
    height: 1em;
    font: 500 2.4em/0.8em sans-serif;
    padding: 0;
    margin: 0.2em 0.06em 0.2em 0;
    color: #0f615b;
    border: 1px dashed #b5c1c0;
    text-align: center;
  }
  
  
  
  
  .grid table tbody tr td:nth-child(4) blockquote {
      margin: .2em;
      font-size: 2.5em;
  }
  /*
    color: #7e85c4;
  
  
  
  
  
  .grid span table {
    float: left;
  }
  .grid span table:nth-child(1) {
    margin: 0;
    border-right: 0;
  }
  
  /*
  tbody[data-range]:before {
    content: attr(data-range);
  
    display: table-row;
  }
  */
  